@charset "utf-8";

#slider{ width: 1200px; height: 640px; margin: 0 auto; border-right: 1px solid #333; background-color: #fff;}
#slider p{font-size: 14px; margin: 30px 0;} #slider span{color: #999;}
#slider h4{margin-top: 30px; border-bottom: 1px solid #333;}
#slider .no{border: none;}
#slider h1 span{display: inline-block; position: relative; left: 50px;}
#slider div{float: left; border-left: 1px solid #333;}
#slider div:first-of-type{width: 1200px; height: 40px; border-bottom: 1px solid #333;
    padding: 10px 35px;}
#slider div:nth-of-type(2){width: 511.5px; height: 600px;}
#slider div:nth-of-type(2) img{width: 100%; height: 100%; object-fit: contain;}
#slider div:nth-of-type(3){width: 687.5px; height: 300px; padding: 30px 50px; border-bottom: 1px solid #333;}
#slider div:nth-of-type(4){width: 330px; height: 300px; padding: 0 50px;}
#slider div:last-of-type{width: 355px; height: 300px; padding: 0 50px;}
#slider div nav{width: 250px; height: 50px; position: relative; top: 20px; margin-bottom: 25px;}
#slider div nav img{width: 40px; height: 40px; float: left;}
#slider div nav span{font-size: 20px; display: block; float: left; margin: 5px 0 0 10px;}
#slider a{display: inline-block; position: relative; top: -100px; left: 400px;}
#slider a span{position: absolute; top: 50%; left: 50%; width: 90px; color: #fff; transform: translate(-45%, -60%);}

section {width: 1200px; height: 7500px; margin: 0 auto; border: 1px solid #333; border-bottom: none;}

#pro{width: 100%; height: 600px; margin: 0 auto; overflow: hidden; border-top:1px solid #333; background-color:#fff;}
#pro h1{padding: 150px 0 30px 105px; font-size: 45px; border-bottom:1px solid #333;}
#pro h4{float: left; width: 250px; position: relative; top: 50px; left: 100px;}
#pro a{display: inline-block; position: relative; top: 130px; right: 150px;}
#pro a span{position: absolute; top: 50%; left: 50%; width: 90PX; color: #fff; transform: translate(-50%, -60%);}
#pro div{float: right; width: 330px; height: 360px; border-left: 1px solid #333; overflow: hidden;}
#pro div img{width: 100%; height: 100%; object-fit: cover;}
#pro div:last-of-type{position: relative; left: 330px; top: -108px;}
#pro div:nth-of-type(3){display: inline-block; position: relative; top: 180px; left: 330px; width: 330px; height: 70px;
    padding: 10px; color: #666; border-top: 1px solid #333;}
#pro div:nth-of-type(2){height: 290px;}
#pro div:first-of-type {margin-right: -170px;}
#pro div p span{display: inline-block; position: relative; left: 200px; color:#666}
#pro div p b{color: #333;}

#review {width: 100%; height: 700px; margin: 0 auto; overflow: hidden; border-top:1px solid #333; border-bottom:1px solid #333;}
#review h1 {padding: 150px 0 30px 105px; font-size: 45px; border-bottom:1px solid #333;}
#review h4:nth-of-type(1) {margin-top: 30px;}
#review h4 {font-size: 18px; margin-top: 15px;}
#review p {font-size: 14px; width: 350px; position: relative; top: -15px;}
#review div {width: 597px; height: 457px; float: left; padding-left: 105px;}
#review .one a {display: inline-block; position: relative; top: 25px; color: tomato;}
#review .two a{display: inline-block; position: relative; top: -25px;}
#review .two a span{position: absolute; top: 50%; left: 50%; color: #fff; transform: translate(-55%, -55%);}
#review .one {border-right: 1px solid #333;}
#review .one nav{width: 130px; height: 30px; position: relative; top: -20px; left: 210px;}
#review .two nav{width: 130px; height: 30px; margin: 10px 0;}
#review div nav img{width: 25px; height: 25px; float: left;}
#review .two {padding-top: 70px;}
#review .two textarea {outline: none; resize: none;}