@charset "utf-8";

#new {width: 1200px; height: 150px; text-align: center; margin: 0 auto; line-height: 150px;
    border-bottom: 1px solid #333; background-color: #fff;}

section {width: 1200px; height: 2350px; margin: 0 auto; background-color: #fff;}
section form {padding: 20px 0 40px; width: 1200px; border-bottom: 1px solid #333; position: relative;}
#select {border: none; outline: none; background-color: #fff; float:right; position: absolute; right: 0;}
#select option:hover {background-color: slateblue; color: #fff;}
section article {float: left; width: 280px; height: 440px; background-color: #fff; overflow: hidden;
        border-right: 1px solid #333; border-top: 1px solid #333;}
section .add {padding-top: 21px;}
section article:nth-of-type(4n+1) {margin-left: 40px; border-left: 1px solid #333;}
section article:nth-of-type(1), article:nth-of-type(2), article:nth-of-type(3), article:nth-of-type(4) {border-top: none;}
section article img {width: 100%; padding: 10px;margin-top: -20px;}
section article .two {display: none;}
section article:not(.add):before {content: "NEW"; padding: 5px 10px; background-color: rgb(129, 218, 155); color: #fff; border-radius: 2px;
        position: relative; top: 15px; left: 10px;}
section article p {position: relative; font-size: 14px; padding: 0 20px;}
section article span {position: absolute; font-size: 15px; font-weight: bold; left: 205px; color: #666;}
section article p:after{content: "35% OFF W/ CODE TAKE35"; display: block; color: rgb(255, 0, 119);
        font-size: 13px; font-weight: bold; margin-top: 5px;}

#slider {width: 1200px; height: 100px; clear: both; border-top: 1px solid #333; text-align: center; padding-left: 100px;}
#slider div {width: 50px; height: 50px; background-color: #fff; display: inline-block; padding-top: 15px; margin-top: 20px;}
#slider div:not(.next):hover {border-bottom: 3px solid #333; color: #333;}
#slider .next {width: 100px; float: right;}